version: '3.8'

services:
  webui:
    build: ./
    ports:
      - "80:5000"
    privileged: true
    pid: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - FLASK_ENV=production